<ion-header>
    <ion-navbar>
        <ion-title>Kalender</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div class="row text-center">
        <div class="col-md-4">
            <div class="btn-group">
                <div
                        ion-button color="light"
                        mwlCalendarPreviousView
                        [view]="view"
                        [(viewDate)]="viewDate">
                    Previous
                </div>
                <div
                        ion-button
                        mwlCalendarToday
                        [(viewDate)]="viewDate">
                    Today
                </div>
                <div
                        ion-button color="light"
                        mwlCalendarNextView
                        [view]="view"
                        [(viewDate)]="viewDate">
                    Next
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
    </div>


    <mwl-calendar-week-view
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh">
    </mwl-calendar-week-view>


    <button
            *ngIf="!editMode"
            ion-button
            type="submit" style=" position:absolute;right: 20px; bottom:20px"
            round
            (click)="toggleEditMode()">hinzufügen
    </button>


    <table style="position:absolute; float: left; bottom:20px"
           *ngIf="editMode"
           class="event-editor-table">

        <tr>
            <th>Titel</th>
            <th>Farbe</th>
            <th>Startet</th>
            <th>Endet</th>
        </tr>

        <tbody>
        <tr>
            <td>
                <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="event.title">
            </td>
            <td>
                <select [(ngModel)]="event.color">
                    <option value="{{colors.yellow}}">gelb</option>
                    <option value="{{colors.blue}}">blau</option>
                    <option value="{{colors.red}}">rot</option>
                </select>
            </td>
            <td>
                <input type="date" (change)="setEventStartTime($event)" name="start">
            </td>
            <td>
                <input type="date" (change)="setEventEndTime($event)" name="end">
            </td>
        </tr>
        </tbody>
        <tr>
            <button ion-button type="submit" round (click)="addEvent()"> +</button>
        </tr>
    </table>

</ion-content>
